.tudo{
	display: table;
  width: 950px;
  //border: 2px solid black;
  margin-left: 200px;
}
.tudo{
border-radius: 15px;
}
main{
display: table;
margin: 5px;
}
header {
height:120px;
}
.logo{
float: left;
}
header li{
  display: inline;
}
header h1, header p, .menu-1{
margin: o auto;
}
header h1{
display: inline;
position: relative;
padding-left:20px;
margin: 0 auto;
}
header p{
padding-bottom:20px;
}
header p{
position: relative;
padding-bottom: 45px;
padding-left: 20px;
margin: 0 auto;
}
header ul{
margin-right: 20px;
}
header p{
margin-top: -15px;
}
.menu-1{
position:relative;
float:right;
}
.classe1{
	display:table;
	width: 100%;
}
.menu-2{
//float: right;
text-align: right;
}
.menu-2 li, .primeiro, .ultimo{
display: inline;
margin-bottom:10px;
margin-right: 25px;
}
.lado-esquerdo{
clear: right;
}

.lado-esquerdo{
float:left;
width: 620px;
padding-left: 30px;
}
aside{
clear: right;
width: 290px;
float: left;
}
aside section{
padding-left: 15px;
}
.ultimo, .primeiro{
margin: 0 auto;
}
.rodape-post li{
margin-left: 20px;
display: inline;
}
.rodape-post ul{
padding-left: 220px;
}
#imagem{
float:left;
}
#imagem2{
float:left;
}
.palavra{
	display: block;
}
.coisafooter{
	margin: 0 auto;
	padding-left: 140px;
}
.endireitador{
	margin-left: -40px;
}

.titulo{
	display: block;
}
.chris{
	display: block;
	float: right;
}
